<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="Images/Costa Rica Homes Realty.jpg">
    <title>CRHR - Inmobiliaria de Confianza en Costa Rica</title>

    <!-- Meta Descriptions -->
    <meta name="description" content="Costa Rica Homes Realty ofrece una amplia gama de servicios inmobiliarios en Costa Rica. Encuentre su hogar ideal con nosotros.">
    <meta name="keywords" content="inmobiliaria, bienes raíces, venta de propiedades, alquiler de propiedades, asesoría inmobiliaria, Costa Rica, real estate, property sales, property rentals, real estate consultancy, Costa Rica real estate">

    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Icon Font Stylesheet -->
    <script src="https://kit.fontawesome.com/51553d23ad.js" crossorigin="anonymous"></script>
    <!-- Template Stylesheet -->
    <link rel="stylesheet" href="Styles/normalize.css">
    <link href="Styles/Styles.css" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">

    <script src="js/script.js"></script>
</head>

<body>
    <div id="header-contact-info-container">

    </div>

    <!-- Front Page Start -->

    <div class="Front-Page" id="Front-Page">
        <video class="video-background" autoplay muted loop>
            <source src="Images/Video Portada CRHR.mp4" type="video/mp4">
            <source src="Images/Video Portada CRHR.mp4" type="video/webm">
            Your browser does not support the video tag.
        </video>
        <div class="front-page-text" id="front-page-text">
            <h1>Bienvenido a CRHR - Su Destino Ideal en Bienes Raíces</h1>
            <h4 class="text-comp">Con más de 10 años de experiencia en atención al cliente, la compañía más pura vida en bienes raíces de Costa Rica.</h4>
            <h4 class="text-responsive">Con más de 10 años de experiencia en atención al cliente, la compañía más pura vida en bienes raíces en Costa Rica.</h4>
        </div>
    </div>
    <!-- Front Page End -->

    <!-- Our regions start -->
    <div class="container mt-5">
        <div class="location-list">
            <h2 class="text-center mb-4">Algunas de nuestras areas de trabajo</h2>
            <div class="row row-cols-1 row-cols-md-4 g-4">
                <div class="col">
                    <div class="card location-card">
                        <img src="Images/SanJose.jpg" class="card-img-top" alt="San José">
                        <div class="card-body">
                            <h5 class="card-title">San José</h5>
                            <p class="card-text">Capital de Costa Rica, con gran oferta cultural y comercial.</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card location-card">
                        <img src="Images/Escazu.jpg" class="card-img-top" alt="Escazú">
                        <div class="card-body">
                            <h5 class="card-title">Escazú</h5>
                            <p class="card-text">Zona exclusiva con modernas infraestructuras y servicios.</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card location-card">
                        <img src="Images/Escalante.jpg" class="card-img-top" alt="Barrio Escalante">
                        <div class="card-body">
                            <h5 class="card-title">Barrio Escalante</h5>
                            <p class="card-text">Área bohemia y gastronómica, muy popular entre jóvenes.</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card location-card">
                        <img src="Images/Belen.jpg" class="card-img-top" alt="Belén">
                        <div class="card-body">
                            <h5 class="card-title">Belén</h5>
                            <p class="card-text">Comunidad tranquila y bien conectada con áreas urbanas.</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card location-card">
                        <img src="Images/Tamarindo.jpg" class="card-img-top" alt="Tamarindo">
                        <div class="card-body">
                            <h5 class="card-title">Tamarindo</h5>
                            <p class="card-text">Famoso destino turístico con playas espectaculares.</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card location-card">
                        <img src="Images/Guanacaste.jpg" class="card-img-top" alt="Guanacaste">
                        <div class="card-body">
                            <h5 class="card-title">Guanacaste</h5>
                            <p class="card-text">Región con playas paradisíacas y un clima cálido.</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card location-card">
                        <img src="Images/Jaco.jpg" class="card-img-top" alt="Jacó">
                        <div class="card-body">
                            <h5 class="card-title">Jacó</h5>
                            <p class="card-text">Destino popular para surfistas y vida nocturna.</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card location-card">
                        <img src="Images/SantaTeresa.jpg" class="card-img-top" alt="Santa Teresa">
                        <div class="card-body">
                            <h5 class="card-title">Santa Teresa</h5>
                            <p class="card-text">Playa y destino turístico popular entre surfistas y expatriados.</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card location-card">
                        <img src="Images/ManuelAntonio.jpg" class="card-img-top" alt="Manuel Antonio">
                        <div class="card-body">
                            <h5 class="card-title">Manuel Antonio</h5>
                            <p class="card-text">Famoso por su parque nacional y playas pintorescas.</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card location-card">
                        <img src="Images/monteverde.jpg" class="card-img-top" alt="Monteverde">
                        <div class="card-body">
                            <h5 class="card-title">Monteverde</h5>
                            <p class="card-text">Conocido por su bosque nuboso y biodiversidad.</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card location-card">
                        <img src="Images/LaFortuna.jpg" class="card-img-top" alt="La Fortuna">
                        <div class="card-body">
                            <h5 class="card-title">La Fortuna</h5>
                            <p class="card-text">Hogar del volcán Arenal y una abundancia de actividades al aire libre.</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card location-card">
                        <img src="Images/PuertoViejo.jpg" class="card-img-top" alt="Puerto Viejo">
                        <div class="card-body">
                            <h5 class="card-title">Puerto Viejo</h5>
                            <p class="card-text">Ubicado en la costa caribeña, conocido por su ambiente relajado y playas.</p>
                        </div>
                    </div>
                </div>
                <!-- Añadir más tarjetas según sea necesario -->
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Our regions end -->

    <!-- About Us Start -->
    <div class="about-container" id="about-us">
        <div class="about-title-container" id="aboutTitle">
            <div class="title-about">
                <h2>Nosotros</h2>
            </div>
        </div>
        <div class="nos-text-container">
            <div class="nos-text">
                <p>En Costa Rica Homes Realty, nos dedicamos a ofrecer servicios inmobiliarios de alta calidad en Costa Rica.
                    Contamos con un equipo apasionado y comprometido en proporcionar soluciones personalizadas que incluyen la venta y alquiler de propiedades,
                    así como asesoría inmobiliaria integral. Nos esforzamos por entender y satisfacer sus necesidades específicas, ya sea que esté buscando una
                    nueva casa, una propiedad comercial o una inversión inmobiliaria, estamos aquí para ayudarle en cada paso del camino. Confíe en nosotros para
                    encontrar el lugar perfecto que llame hogar.</p>
            </div>
        </div>
    </div>
    <!-- About Us End -->

    <!-- Mision Vision Start -->
    <div class="mision-vision-container">
        <div class="img-mision-vision">
            <img src="Images/Imagen Portada.jpg" alt="Portada de CRHR">
        </div>
        <div class="mision-vision">
            <div class="mision-vision-flex">
                <div class="mision">
                    <h2>Nuestra Misión</h2>
                    <p>Nuestro objetivo es facilitar el proceso de compra, venta o alquiler de propiedades, asegurando una experiencia satisfactoria y sin complicaciones. <br><br> En CRHR estamos comprometidos a proveer soluciones inmobiliarias que superen las expectativas de nuestros clientes, garantizando un servicio de alta calidad, profesionalismo y ética en cada transacción.</p>
                </div>
                <div class="vision">
                    <h2>Nuestra Visión</h2>
                    <p>Ser la inmobiliaria líder en Costa Rica, reconocida por nuestra innovación, confianza y excelencia en el servicio. Nos esforzamos por crear relaciones duraderas con nuestros clientes, basadas en la transparencia y la satisfacción total.</p>
                </div>
            </div>
        </div>
    </div>
    <!-- Mision Vision End -->

    <!-- Why Choose Us Start -->
    <div class="why-choose-container">
        <div class="why-choose-title-center">
            <div class="why-choose-title">
                <h2>¿Por qué elegirnos?</h2>
            </div>
        </div>
        <div class="reason-flex">
            <div class="reasons-container">
                <div class="reason">
                    <h3>Compromiso y Calidad</h3>
                    <p>Nos dedicamos a ofrecer un servicio excepcional y soluciones inmobiliarias adaptadas a sus necesidades, garantizando su satisfacción en cada etapa del proceso.</p>
                </div>
                <div class="reason">
                    <h3>Atención Personalizada</h3>
                    <p>Cada cliente es único y nos enorgullece ofrecer soluciones personalizadas para encontrar la propiedad ideal para usted.</p>
                </div>
                <div class="reason">
                    <h3>Amplia Variedad de Propiedades</h3>
                    <p>Disponemos de una amplia gama de propiedades, desde apartamentos urbanos hasta casas de lujo y terrenos, adaptadas a diferentes presupuestos y preferencias.</p>
                </div>
                <div class="reason">
                    <h3>Asesoría Integral</h3>
                    <p>Nuestro equipo de expertos le guiará en cada paso del proceso, asegurando una experiencia sin estrés y eficiente.</p>
                </div>
            </div>
        </div>
    </div>
    <!-- Why Choose Us End -->

    <!-- Services Start -->
    <div class="container-fluid" id="our-services">
        <section id="services" class="py-5">
            <div class="container">
                <h2 class="text-center mb-5 section-title">Nuestros Servicios</h2>
                <div class="row">
                    <div class="col-md-4 mb-4">
                        <div class="card h-100 service-card">
                            <div class="card-body">
                                <h5 class="card-title">Venta de Propiedades</h5>
                                <p class="card-text">Ofrecemos una amplia variedad de propiedades en venta, desde apartamentos hasta casas de lujo.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-4">
                        <div class="card h-100 service-card">
                            <div class="card-body">
                                <h5 class="card-title">Alquiler de Propiedades</h5>
                                <p class="card-text">Encuentra la propiedad perfecta para alquilar, ya sea residencial o comercial.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-4">
                        <div class="card h-100 service-card">
                            <div class="card-body">
                                <h5 class="card-title">Asesoría Inmobiliaria</h5>
                                <p class="card-text">Nuestros expertos lo guiarán en cada paso del proceso de compra, venta o alquiler de su propiedad.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-4">
                        <div class="card h-100 service-card">
                            <div class="card-body">
                                <h5 class="card-title">Gestión de Propiedades</h5>
                                <p class="card-text">Nos encargamos de la administración y mantenimiento de sus propiedades para que no tenga que preocuparse por nada.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-4">
                        <div class="card h-100 service-card">
                            <div class="card-body">
                                <h5 class="card-title">Tasaciones</h5>
                                <p class="card-text">Realizamos tasaciones profesionales para determinar el valor real de su propiedad.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-4">
                        <div class="card h-100 service-card">
                            <div class="card-body">
                                <h5 class="card-title">Servicios Legales</h5>
                                <p class="card-text">Proveemos servicios legales especializados en bienes raíces para garantizar la seguridad jurídica de sus transacciones.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-4">
                        <div class="card h-100 service-card">
                            <div class="card-body">
                                <h5 class="card-title">Consultoría Financiera</h5>
                                <p class="card-text">Ofrecemos asesoramiento financiero especializado en inversiones inmobiliarias y análisis de viabilidad económica.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-4">
                        <div class="card h-100 service-card">
                            <div class="card-body">
                                <h5 class="card-title">Marketing Inmobiliario</h5>
                                <p class="card-text">Desarrollamos estrategias de marketing efectivas para la promoción y venta de propiedades.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-4">
                        <div class="card h-100 service-card">
                            <div class="card-body">
                                <h5 class="card-title">Proyectos de Desarrollo Inmobiliario</h5>
                                <p class="card-text">Desde la planificación hasta la comercialización, gestionamos proyectos de desarrollo inmobiliario completos.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <!-- Services End -->

    <!-- Team Section Start -->
    <section id="team" class="py-5">
        <div class="container">
            <h2 class="text-center mb-5 section-title">Nuestro Equipo</h2>
            <div class="row">
                <!-- Persona 1 -->
                <div class="col-md-6 mb-4">
                    <div class="card h-100 border-0 shadow-sm team-card">
                        <img src="images/Adam.jpg" class="card-img-top" alt="Foto Persona 1">
                        <div class="card-body text-center">
                            <h5 class="card-title" style="color: #001701;">Adam Acuña</h5>
                            <p class="card-text" style="color: #777777;">Presidente</p>
                        </div>
                    </div>
                </div>
                <!-- Persona 2 -->
                <div class="col-md-6 mb-4">
                    <div class="card h-100 border-0 shadow-sm team-card">
                        <img src="images/Herbert.png" class="card-img-top" alt="Foto Persona 2">
                        <div class="card-body text-center">
                            <h5 class="card-title" style="color: #001701;">Herbert Tinjaca</h5>
                            <p class="card-text" style="color: #777777;">Vicepresidente</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Team Section End -->

    <div id="footer-derechos">

    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            // Llama a tu función aquí
            inicializar();
        });
    </script>
</body>

</html>