<!-- Contact top start -->
<div class="contact-info" id="contact-info">
    <div class="email-top">
        <p><i class="fa-solid fa-envelope"></i> costaricahomesrealty@gmail.com</p>
    </div>
    <div class="social-media1">
        <p>Siguenos: <a href="https://www.facebook.com/profile.php?id=61556631089453"><i
                class="fa-brands fa-facebook font-i"></i></a> <a
                href="https://www.instagram.com/crhomesrealty/"><i
                class="fa-brands fa-square-instagram font-i"></i></a></p>
    </div>
</div>
<!-- Contact top End -->

<!-- Header start -->
<header>
    <div class="logo-header">
        <a href="/"><img src="Images/Costa Rica Homes Realty.jpg" alt=""></a>
    </div>
    <nav class="nav-header">
        <a href="/">Inicio</a>
        <a href="#">Nosotros</a>
        <a href="#">Alquileres</a>
        <a href="#">Ventas</a>
        <a href="#">Servicios</a>
        <a href="#">Contacto</a>
    </nav>
</header>
<!-- Header end -->

<!-- Nav Responsive Start -->
<nav class="nav-responsive">
    <input type="checkbox" id="check">
    <label for="check" class="checkbtn">
        <i class="fas fa-bars"></i>
    </label>

    <ul class="ul-menu">
        <li><a href="/">Inicio</a></li>
        <li><a href="#">Nosotros</a></li>
        <li><a href="#">Alquileres</a></li>
        <li><a href="#">Ventas</a></li>
        <li><a href="#">Servicios</a></li>
        <li><a href="#">Contacto</a></li>
    </ul>
</nav>
<!-- Nav Responsive End -->